.swiperContainer {
  margin: 140px 0 0 573px;
  height: 240px;
  width: 160px;
}

.swiperWapper {
  perspective: 300px;
  -webkit-perspective: 300px;
}

.swiperWapper2 {
  transform: rotateX(-2deg);
  -webkit-transform: rotateX(-2deg);
}

.item {
  background-position: center;
  background-size: cover;
}
