.swiperContainer {
  margin: 90px 0 0 560px;
  height: 300px;
  width: 200px;
}

@media (min-width: 737px) {
  .swiperContainer{
    margin: 74px 0 0 572px;
    height: 250px;
    width: 166px;
  }
}


.swiperWapper {
  perspective: 300px;
  -webkit-perspective: 300px;
}

.swiperWapper2 {
  transform: rotateX(-2deg);
  -webkit-transform: rotateX(-2deg);
}

.item {
  background-position: center;
  background-size: cover;
}
