.spaceship {
  img {
    height: 75px;
    margin-bottom: 30px;
    animation-name: spaceshipMove;
    animation-direction: alternate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
  }

  @keyframes spaceshipMove {
    from {
      transform: translate3d(0, -80px, 0) rotate(-15deg);
    }
    to {
      transform: translate3d(0, -50px, 0) rotate(-10deg);
    }
  }
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #e3daf6;
  font-size: 22px;
  line-height: 45px;
  background-color: #021640;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
}
.word {
  height: 150px;
  margin-top: -70px;
}

//.a {
//  background-image: url('../assets/img/appLight.png');
//}
//
//.b {
//  background-image: url('../assets/img/homeBackgroud.png');
//}

.backGround {
  background-image: url('../assets/img/indexBackground.png');
  //background-size: 100%;
  background-color: #021114;
  background-position: center;
  transition: all 5s cubic-bezier(.94,.01,.46,.99);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.text {
  color: #2332c4;
  text-align: center;
  font-size: 24px;
  line-height: 35px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  transition: opacity 0.5s ease-in-out;
}

.wapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: clip-path 0.5s ease-in-out;
}
