.wapper {
  width: 99px;
  height: 118px;
  background-image: url('../assets/img/departmentButton.png');
  background-size: 99px 118px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    transition: opacity 0.2s;
    opacity: 0.37;
  }
  &:hover {
    img {
      opacity: 1;
    }
  }
}
