.wapper {
  background-image: url('../assets/img/indexBackgroud.png');
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-size: cover;
  background-color: #021114;
  position: absolute;
}

.children {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  position: absolute;
  overflow: hidden;
}
